
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
label {
    text-align: left;
    display: block;
    margin-left: 10px;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.circle {
    background-image: url('profile.jpg');
    background-size: cover;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 20px;
    
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 14px;
}

.remember-me input[type="checkbox"] {
    margin-right: 5px;
}
.buttonL {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    width: 350px;
    border-radius: 5px;
    cursor: pointer;
}

.buttonC {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    align-self: start;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    clear: left;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    float: right;
    clear: right;
}

.forgot-password:hover {
    text-decoration: underline;
}
.cancelcontainer {
    background-color: rgb(181, 172, 172);
    width: 100%;
}